body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: white;
  margin: 10px 20px;
  /*text-transform: uppercase;/*
  /*text-decoration: dashed;*/
}

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}


.hero {
  height: 300px;
  /* background-image: url("../imagenesDelDiseño/hero.jpg"); */
  background-color: #1b2127;
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  object-fit: cover;
}


.portfolio {
  background: #FAFAFA;
  margin: -30px;
}

.portfolio h2 {
  margin-left: 30px;
  margin-top: -20px;
  padding-top: 15px;
  color: #026FFF;
}

.project {
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  padding: 10px;
  background: white;
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.project-details {
  width: 500px;
  padding-left: 20px;
}

.project-imageContainter {
  width: 500px;
}

.header {
  background-color: #1D252C;
  color: white;
  margin-bottom: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ol,
ul {
  margin: 30px;
  padding: 0;
  list-style: none;
  display: flex;
  }

li {
  margin: 10px;
}

figure {
  margin: 10px;
  padding: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.header ol {
  display: flex;
}

.footer {
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white
}

.event-list-title {
  margin-left: 10px;
}
.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event {
  margin: 10px;
  width: 480px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f4fbff;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
  margin-top: -10px
}

.event-detail {
  margin: 20px 40px;
  background-color: white;
  margin-top: -40px;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  border: 1px solid #056fff;
  padding: 5px 20px;
  text-decoration: none;
  color: #056fff;
  border-radius: 5px;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.social-link {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 10px;
}

.social-link.twitter {
  background-image: url(../imagenesDelDiseño/twitter.png);
  background-size: 50px 50px;
}

.social-link.facebook {
  background-image: url(../imagenesDelDiseño/facebook.png);
  background-size: 50px 50px;
}

.social-link.github {
  background-image: url(../imagenesDelDiseño/gitbhub.jpg);
  background-size: 50px 50px;
}

.social-link.instagram {
  background-image: url(../imagenesDelDiseño/instagram.png);
  background-size: 50px 50px;
}

.form-email input {
  border-color: gray;
  padding: 5px 20px 5px 25px;
  border-radius: 5px;
  border-style: solid;
  background-image: url(../imagenesDelDiseño/envelope.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email buttom {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  padding: 10px 20px 10px 25px;
  border-radius: 5px;
  width: 10px;
  margin-top: 10px;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

/* desktop first, recomenación empezar con MQ desde el mas grande */

@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}